*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(46,196,182,0.04);  
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,minmax(150px,auto));
    justify-items: center;
    align-items: center;
}
section{
    width:59%;
    height: 50%;
    font-family: Brown,sans-serif;
    align-self: center;
    
}
section h1{
    margin: 20px 5px;
    line-height: 50px;
    font-weight: 700;
    font-size: 40px;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        transform: translateY(-50%);
        opacity: 0;
    }
    to{
        transform:translateZ(0%);
        opacity: 1;
    }
}
section p{
    margin: 0px 5px;
    line-height: 25px;
    color: var(--CL-Grey, #737373);
    font-size: 16px;
    font-weight: 400;
    animation-duration: 3s;
    animation-delay: 1ms;
    animation-name: s;
}
@keyframes s{
    from{
        transform: translateY(50%);
        opacity: 0;
        
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
aside{
    width: 80%;
    height: 80%;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}
form{
    max-width: 600px;
    max-height: 700px;
    border-radius: 8px;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    background: #ffff;
    padding: 20px 40px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 40px;
    position: relative;
}
form label{
    color: var(--Text-Headings, #011C34);
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    animation: slid 2s;
}
@keyframes slid {
    from{
        transform:translateY(-50%);
        opacity: 0;
    }
    to{
        transform:translateY(0%) ;
        opacity: 1;
    }
}
form label.label2{
    grid-row: 1/2;
    grid-column: 2/3;
}
form label.label3{
    grid-row: 3/4;
    grid-column: 2/3;
}
form label.label4{
    grid-row: 5/6;
    grid-column: 2/3;
}
form input.txt{
    grid-column: 1/3;
    grid-row: 8/9;
}
form label.label5{
    grid-row:9/10 ;
}
form input.pass{
    grid-row: 10/11;
    grid-column: 1/3;
}
form button{
    grid-row: 11/12;
    grid-column: 1/3;
}
form p{
    grid-row: 12/13;
    grid-column: 1/3;
    text-align: center;
}
form :is(input[type="text"], input[type="password"]){
    padding: 18px 0px;
    border: solid #F0F0F0 2px;
    outline: none;
    text-align: center;
}
form input[type="text"]::placeholder{
   text-indent: 20px;
}
.add::-webkit-calendar-picker-indicator{
    display:block;
    margin-right:30px;
}
form input[type="text"]:focus, input[type="password"]:focus{
    border-color: #2EC4B6;
}
button{
    padding: 18px 0px;
    color: #ffff;
    background: var(--CL-Green, #2EC4B6);
    border: none;
    font-family: Sofia Pro;
    font-size: 16px;
    font-weight: 600;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
    cursor:pointer;
}
form p{
    color:#000;
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px
}
form p a{
    color: var(--CL-Green, #2EC4B6);
    font-family: Sofia Pro;
    font-size: 14px;
    font-weight: 500;
}
form img.img1{
    position: absolute;
    top:170px;
    left:210px;
}
form img.img2{
    position: absolute;
    top:170px;
    left:460px
}
form img.img3{
    position: absolute;
    top:370px;
    left:445px;
}
form img.img4{
    position: absolute;
    top:470px;
    left:450px;
}
@media screen and (max-width:1239px) {
    form img.img1{
        left:195px;
    }
    form img.img2{
        left:415px;
    }
    form img.img3{
        left:415px;
    }
    form img.img4{
        left:420px;
    }
}
@media screen and (max-width:1200px){
    section{
        width: 75%;
    }
    aside{
        width:90%;
    }
    form :is(input[type="text"], input[type="password"]){
        padding: 12px 0px;
    }
    form p{
        font-size: 14px;
    }
    form img.img1{
        position: absolute;
        top:150px;
        left:210px
    }
    form img.img2{
        position: absolute;
        top:150px;
        left:450px
    }
    form img.img3{
        position: absolute;
        top:325px;
        left:450px;
    }
    form img.img4{
        position: absolute;
        top:420px;
        left:455px;
    }
}
@media screen and (max-width:769px){
    section{
        width:100%;
        padding: 0 10px;
    }
    form :is(input[type="text"], input[type="password"]){
        width:95%;
    }
    form input.txt{
        width:100%;
    }
    form input.pass{
        width:100%;
    }
    form input[type="text"]::placeholder{
        text-indent: 5px;
        font-size: 10px;
    }
    form img.img1{
        position: absolute;
        top:150px;
        left:110px
    }
    form img.img2{
        position: absolute;
        width:19px;
        top:150px;
        left:260px
    }
    form img.img3{
        position: absolute;
        top:325px;
        left:255px;
    }
    form img.img4{
        position: absolute;
        top:420px;
        left:260px;
    }
}
@media screen and (max-width:500px){
    body{
        grid-template-rows: repeat(3,minmax(150px,auto));
    }
   section{
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: start;
    justify-self: center;
    width:90%;
    padding:20px 0px;
   }
   section img{
    width:50px;
   }
   section h1{
    font:20px;
   }
   section p{
    font-weight: 300;
   }
   aside{
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: start;
   }
   form{
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:35px 20px;
    max-height: 850px;
   }
   form input[type="text"]::placeholder{
    font-size: 14px;
   }
   form p{
    position: absolute;
    bottom:-100px;
    width:90%;
    font-size: 14px;
    align-items: center;
   }
   form label{
    color: var(--Text-Headings, #011C34);
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
form input[type="text"]{
    width:100%;
}
 form img.img1{
    top: 248px;
    left: 360px;
}
form img.img2{
    top:340px;
    left:360px;
}
form img.img3{
    top:600px;
    left:360px;
}
form img.img4{
    top: 695px;
    left:360px;
}
}
@media screen and (max-width:430px){
    form img.img1{
        top: 253px;
        left: 298px;
    }
    form img.img2{
        top:345px;
        left:298px;
    }
    form img.img3{
        top:605px;
        left:298px;
    }
    form img.img4{
        top: 700px;
        left:298px;
    }
}
@media screen and (max-width:390px){
    form img.img1{
        top: 253px;
        left: 268px;
    }
    form img.img2{
        top:345px;
        left:268px;
    }
    form img.img3{
        top:605px;
        left:268px;
    }
    form img.img4{
        top: 700px;
        left:268px;
    }
}
@media screen and (max-width:300px){
    form :is(img.img1,img.img2,img.img3,img.img4){
        display: none;
    }
}

